.container {
  min-height: 100vh;
  box-shadow: #ddd 0px 0px 10px 5px;
  background: rgb(252, 252, 252);
}

h1.title {
  margin-block-end: 0.83em;
}

.survey-wrapper {
  display: flex;
  flex-direction: column;

  > div + div {
    border-top: 1px solid rgb(224, 224, 224);
  }
}

.question {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 2rem;
  gap: 1rem;
}

.title {
  font-size: 1.7rem;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  span {
    white-space: pre;
    font-size: 1.2rem;
  }

  &.error > input[type="text"] {
    outline: 2px solid red;
  }
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
