.container {
  min-height: 100vh;
  box-shadow: #ddd 0px 0px 10px 5px;
  background: rgb(252, 252, 252);

  display: flex;
  flex-direction: column;
}
section.container {
  padding-inline: 2rem;
  box-sizing: content-box;
}

h1.title {
  margin-block-end: 0.83em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.result-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 0 4rem 0 8rem;

  .section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 0;

    .title {
      font-size: 1.8rem;
      font-weight: 500;
      text-align: center;
    }

    &.chart-gap {
      margin-left: 3rem;
    }
  }

  .empty {
    color: #adadad;
  }

  .chart {
    height: 50vh;
  }
}

.contents {
  text-align: center;
  word-break: keep-all;

  &.highlight {
    background: #ffe6e6;
    font-weight: 600;
  }
}

.result-title {
  text-align: center;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.2rem 0;
  background-color: #f4f4f4;
  color: #7e7e7e;
}

.effect {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 2px dotted lightgrey;
  padding: 0.5rem;
  letter-spacing: 0.3rem;
  color: #979797;
  border-radius: 3rem;
}

.result-table {
  display: grid;

  .row {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;

    &.header {
      font-weight: 700;
      background: #3a3737;
      color: white;
    }
    > div {
      padding: 0.5rem;
      word-break: keep-all;
      border: 1px solid #d3d3d3;
    }
    > div:not(.title) {
      text-align: center;
      white-space: break-spaces;
    }
  }
}
